.footer-container {
    margin-top: 48px;
    background-color: ghostwhite;
    color: #979797;
    text-align: center;
    vertical-align: center;
    padding: 38px 14px 38px 14px;
    font-size: 12px;
}